 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
 *{
  font-family: "Roboto", sans-serif;
 }
 .glass-card {
  
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(216, 23, 23, 0.3);
  overflow: hidden;
}
 .navbar .active {
  color: crimson;
  font-weight: bold;
}
